.container{
    display: grid;
    align-items: center;
    margin: 0 auto;
}
.row{margin: auto !important;width: 100%;}
.react-player{
    margin: 1em auto;
    width: 36vw !important;
    height: 40vh !important;
    z-index: 0;
    pointer-events: none;
}
.overlay{
    z-index: 100;
    margin: auto;
    background: rgba(255,255,255,.5);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
.slider{
    margin: 0 2em;
}
.badge{
    font-weight: normal !important;
    padding: 0.4em 1.1em !important;
    margin: auto;
    white-space: normal;
}
.result{
    display: flex;
    font-size: 1.2em !important;
}

.match{float: right;font-size: 1.02em !important;}
.hint{float: left;font-size: 1.02em !important;}
.information{
    flex-wrap: wrap;
    width: 100%;
    h3{display: inline;}
}
.col{text-align: center;}
.progress{margin: 1em;}